<h2>My Heroes</h2>
<div>
    <label>Hero name:</label> <input #heroName/>
    <button (click)="add(heroName.value,lastIdHeroes+1); heroName.value=''">
        Add
    </button>
</div>
<ul class="heroes" [hidden]="loadingHeroes">
    <li *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete"
                (click)="delete(hero); $event.stopPropagation()">x
        </button>
    </li>
</ul>
<div *ngIf="selectedHero">
  <h4>
      {{selectedHero.name | uppercase}} is my hero
  </h4>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div *ngIf="loadingHeroes">
    <h4>
        Loading...
    </h4>
</div>
